<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-daon-trust" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Daon Trust</name>
  <description>Cordova plugin for the Daon Trust onboarding SDK</description>
  <license>MIT</license>
  <keywords>cordova,android,ios,daon,trust</keywords>
  <engines>
    <engine name="cordova" version=">=10.0.0" />
  </engines>

  <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />

  <js-module src="www/daonTrustPlugin.js" name="daonTrustPlugin">
    <clobbers target="cordova.plugins.daonTrustPlugin" />
  </js-module>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="DaonTrustPlugin">
        <param name="android-package" value="cordova.plugin.daontrust.DaonTrustPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.NFC" />
      <uses-feature android:name="android.hardware.camera" android:required="false" />
      <uses-feature android:name="android.hardware.nfc" android:required="false" />
    </config-file>

    <source-file src="src/android/DaonTrustPlugin.java" target-dir="app/src/main/java/cordova/plugin/daontrust" />
    <framework src="daon.gradle" custom="true" type="gradleReference" />
  </platform>

  <platform name="ios">
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>Camera access is required for onboarding.</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
      <string>Face ID is used for secure authentication.</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NFCReaderUsageDescription">
      <string>NFC is used to read identity documents during onboarding.</string>
    </config-file>

    <source-file src="src/ios/DaonTrustPlugin.swift" />
    <framework src="src/ios/DaonTrustSDK.xcframework" custom="true" />
    <framework src="src/ios/DaonTrustSDKAppkeysProcessor.xcframework" custom="true" />
    <framework src="src/ios/DaonTrustSDKDeviceIntegrityProcessor.xcframework" custom="true" />
    <framework src="src/ios/DaonTrustSDKDocumentProcessor.xcframework" custom="true" />
    <framework src="src/ios/DaonNFCSDK.xcframework" custom="true" />
    <framework src="src/ios/FingerprintPro.xcframework" custom="true" />
  </platform>
</plugin>
